@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #172651;
  font-family:"minion-pro-1","minion-pro-2",serif;
  background-image: url(../IMAGES/internal/landing1.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
 
}
input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.login {
  max-width: 400px;
  margin: 10vh auto;
  font-size: 16px;
  width:100%;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #172651;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #fff;
}

.login-container {
  background: white;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #172651;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #00004d;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
@media screen and (max-width: 730px) {
    body{
    background-size: 100vw auto;
        
    }
}